::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #2dd4bf;
    border-radius: 5px;
    transition: 0.3s;
}